@import 'config';
@import '~@sanctucompu/basement/src/index';
@import 'settings', 'reset', 'typography';

.site-content-max-width {
  max-width: $site-content-max-width;
}

.inner-content-max-width {
  max-width: $inner-content-max-width;
}

.site-padding-x {
  padding-left: $site-padding-x-mobile;
  padding-right: $site-padding-x-mobile;

  @include media('sm-up') {
    padding-left: $site-padding-x-tablet;
    padding-right: $site-padding-x-tablet;
  }

  @include media('md-up') {
    padding-left: $site-padding-x-desktop;
    padding-right: $site-padding-x-desktop;
  }
}

//Buttons

a,
button {
  cursor: pointer;
}

.button--style-primary {
  @extend %transition-shorter;
  background-color: color('blue');
  text-decoration: none;
  color: color('white');
  border-radius: 0.625rem;
  padding: 0.75rem 1.25rem;
  line-height: 1;
  width: 10.0625rem;

  &:hover {
    background-color: color('blue-darker');
  }

  @include media('md-up') {
    width: 12.0625rem;
    padding: 1.3125rem 2.75rem;
  }
}

.button--style-blue-border {
  @extend %transition-shorter;
  background-color: transparent;
  border: 1px solid color('blue');
  text-decoration: none;
  color: color('blue');
  border-radius: 0.75rem;
  padding: 0.75rem 1.25rem;
  line-height: 1;

  &:hover {
    background-color: color('blue');
    color: color('white');
  }

  @include media('md-up') {
    padding: 0.75rem 1.3125rem;
  }
}

.button--style-no-style {
  @extend %transition-shorter;
  background-color: transparent;
  text-decoration: none;
}

//Header
.header {
  padding-bottom: 6.4375rem;

  @include media('md-up') {
    padding-bottom: 10.125rem;
  }
}

//Impact
.impact-section {
  padding-bottom: 13.625rem;

  @include media('md-up') {
    padding-bottom: 15.6875rem;
  }
}
